*.swp
*.o
src-485/open-osdp
src-lib/libosdp.a
src-tls/initiator
src-tls/osdp-net-client
src-tls/osdp-net-server
src-tls/osdp-tcp-client
src-tls/osdp-tcp-server
src-ui/open-osdp-CP-status
src-ui/open-osdp-PD-status
src-ui/open-osdp-kick
src-ui/send-osdp-command
src-ui/shutdown-osdp
src-ui/start-CP-485
src-ui/start-CP-net-client
src-ui/start-CP-tcp-client
src-ui/start-MON-485
src-ui/start-PD-485
src-ui/start-PD-net-server
src-ui/start-PD-tcp-server
src-ui/tail-CP-log
src-ui/tail-MON-log
src-ui/tail-PD-log
src-ui/vm-status
open-osdp.log
